.advantages {
  position: relative;

  padding: 32px 0 0;

  background-color: $main-light-blue-color;

  &::before {
    //content: url("../../img/advantages-top.svg");
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    width: 100%;
    min-height: 37px;

    background-color: $white-color;
    transform: translateX(-50%);

    clip-path: polygon(168% 0, 50% 100%, -68% 0);
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__list-item {
  background-color: $gray-ee;

  @media (min-width: $tablet-width) {
    &--with-photo {
      display: grid;

      grid-column-end: -1;
      grid-column-start: 1;
      grid-template-columns: 1fr 2fr;
    }

    &--reverse {
      display: grid;

      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages__list-item-text {
  position: relative;

  padding: 26px 18px;

  &::after {
    content: "";
    position: absolute;
    right: 18px;
    bottom: 0;
    left: 18px;

    height: 1px;

    background-color: $gray-d6;
  }

  &--blue-back {
    padding: 40px 18px 39px;

    background-color: $main-light-blue-color;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 52px 18px 20px;

    &::after {
      display: none;
    }

    &--blue-back {
      padding: 53px 20px 31px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 64px 18px 20px;

    &--blue-back {
      padding: 53px 20px 31px;
    }
  }
}

.advantages__list-item:last-child {
  .advantages__list-item-text::after {
    display: none;
  }
}

.advantages__list-item-title {
  position: relative;

  margin: 0 0 17px;
  padding: 0 0 30px;

  &::after {
    content: "— №" counter(advantage) " —";
    position: absolute;
    bottom: 0;
    left: 50%;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    transform: translateX(-50%);

    counter-increment: advantage;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 23px;
    padding: 0 33px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 105px 34px;
  }
}

.advantages__list-item-description {
  margin: 0;
  padding: 0 15px;

  &--light {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.advantages__list-item-photo {
  display: block;
  width: 100%;
  min-height: 260px;

  background-color: $white-color;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.advantages__list-item--reverse .advantages__list-item-photo {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.advantages__sublist {
  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0;

    grid-column-end: -1;
    grid-column-start: 1;
    grid-template-columns: repeat(3, 1fr);
  }
}
