.button {
  display: block;
  padding: 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $main-light-blue-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $main-blue-color;
  }

  &:focus {
    background-color: $main-blue-color;
    outline: none;
  }

  &:active {
    color: $white-color-opacity-3;

    background-color: $main-dark-blue-color;
  }

  &:disabled {
    color: $white-color;

    background-color: $gray-e5;
    cursor: default;
  }

  &--disabled {
    color: $white-color;

    background-color: $gray-e5;
    cursor: default;

    &:hover {
      color: $white-color;

      background-color: $gray-e5;
      cursor: default;
    }

    &:active {
      color: $white-color;

      background-color: $gray-e5;
      cursor: default;
    }
  }
}
