.hamburger {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-image: url("../../img/icon-menu.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.hamburger--open {
  width: 26px;
  height: 25px;

  background-image: url("../../img/icon-cross.svg");
}
