.input {
  position: relative;

  width: 100%;
  min-height: 58px;
  margin: 0;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black-color;

  background-color: $gray-f2;
  border: none;
  outline-offset: -4px;

  &::placeholder {
    color: $black-color-opacity-3;
  }

  &:hover {
    background-color: $gray-e5;
    outline: 4px solid $gray-e5;
  }

  &:focus {
    background-color: $white-color;
    outline: 4px solid $gray-e5;
  }

  &--phone {
    padding-right: 70px;

    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 58px 58px;
  }

  &--email {
    padding-right: 70px;

    background-image: url("../../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 58px 58px;
  }
}
