.page-header {
  padding: 21px 0 27px;

  &--index {
    padding: 20px 0 12px;
  }

  @media (min-width: $tablet-width) {
    padding: 50px 0 24px;

    &--index {
      padding: 34px 0 53px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 98px 0 24px;

    &--index {
      padding: 45px 0 41px;
    }

    &--catalog {
      padding: 83px 0 41px;
    }
  }
}

.page-header__title {
  margin: 0 0 25px;
  padding: 0 24px;

  &--index {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
    padding: 0 80px;

    font-size: 30px;

    &--index {
      margin-bottom: 30px;

      font-size: 21px;
    }

    &--catalog {
      margin: 0 0 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
    padding: 0 300px;

    &--index {
      margin-bottom: 30px;
    }
  }
}

.page-header__description {
  margin: 0;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 165px;

    line-height: 23px;

    &--index {
      padding: 0 100px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;

    &--index {
      padding: 0 250px;
    }
  }
}
