.welcome-banner {
  min-height: 173px;
  padding: 52px 0 15px;

  background-image: url("../../img/back-mobile.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
  background-repeat: no-repeat;
  background-position: center -56px;
  background-size: 320px 214px;

  &--index {
    min-height: 404px;
    padding: 90px 0 15px;

    background-image: url("../../img/back-mobile-index.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 320px 389px;
  }


  @media (min-width: $tablet-width) {
    min-height: 305px;
    padding: 95px 0 15px;

    background-image: url("../../img/back-tablet.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
    background-position: center -55px;
    background-size: 768px 345px;

    &--index {
      min-height: 533px;
      padding: 77px 0 15px;

      background-image: url("../../img/back-tablet-index.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
      background-position: center 0;
      background-size: 768px 518px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 316px;
    padding: 102px 0 15px;

    background-image: url("../../img/back-desktop.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
    background-position: center -55px;
    background-size: 1200px 357px;

    &--index {
      min-height: 533px;
      padding: 78px 0 15px;

      background-image: url("../../img/back-desktop-index.jpg"), linear-gradient(180deg, $black-color-opacity-3 0, $black-color-opacity-3 100%);
      background-position: center 0;
      background-size: 1200px 518px;
    }

    &--catalog {
      padding: 398px 0 40px;
    }
  }
}

.welcome-banner__image {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;

  &--index {
    width: 282px;
    height: 214px;
  }

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;

    &--index {
      width: 461px;
      height: 350px;
    }
  }
}
