/*Width*/
$tablet-width: 768px;
$desktop-width: 1200px;
/*Color*/
$text-color: #333333;
$white-color: #ffffff;
$gray-ee: #eeeeee;
$gray-f2: #f2f2f2;
$gray-e5: #e5e5e5;
$gray-e6: #e6e6e6;
$gray-d5: #d5d5d5;
$gray-d6: #d6d6d6;
$gray-db: #dbdbdb;
$gray-b3: #b3b3b3;
$gray-opacity-6: rgba(51, 51, 51, 0.6);
$black-color: #000000;
$main-light-blue-color: #81b3d2;
$main-blue-color: #669ec0;
$main-dark-blue-color: #5496bd;
$white-color-opacity-2: rgba(255, 255, 255, 0.2);
$white-color-opacity-3: rgba(255, 255, 255, 0.3);
$black-color-opacity-2: rgba(0, 0, 0, 0.2);
$black-color-opacity-3: rgba(0, 0, 0, 0.3);
$brown-color: #766357;
$popup-shadow: rgba(0, 1, 1, 0.15);
